
body {
	margin:0px;
	padding:0px;
}
#game-area {
	margin:0px;
	padding:0px;
}

.JSSTitle{
    transition: all 1s ease 0s;
}

.mode-button {
    border: hidden;
    background: grey;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    float: left;
    font-size: 14px;
    padding: 2px 12.5%;
    width: 10px;
    text-decoration: none;
    transition: all .3s ease 0s;
}
.mode-button:focus{ outline: none; }
#game-area:focus { outline: none; }
#button0:hover, #button0:focus {
    background: yellow;
}
#button1:hover, #button1:focus {
    background: red;
}
#button2:hover, #button2:focus {
    background: #3ece01;
}
#button3:hover, #button3:focus {
    background: #b200ff;
}
#tryAgainButton{
    cursor: pointer;
    transition: all 1s ease 0s;
    padding: 2px 3%;
    background: yellow;
    border: 0px solid black;
    white-space: nowrap;
    position: absolute;
    left: 45%;
    top: 100%;

}
#tryAgainButton:hover{
    transition: all 0.2s ease 0s;
    max-width: 150%;
    padding: 2px 48%;
    padding-right: 46%;
    background: yellow;
    border: 0px solid black;
    white-space: nowrap;
    position:absolute; left:0%; top:100%;
}
#welcomeButton{
    cursor: pointer;
    transition: all 1s ease 0s;
    padding: 2px 5%;
    background: yellow;
    border: 0px solid black;
    white-space: nowrap;
    position: absolute;
    left: 45%;
    top: 100%;
}

#welcomeButton:hover{
    transition: all 0.2s ease 0s;
    max-width: 150%;
    padding: 2px 49.99%;
    padding-right: 48%;
    background: yellow;
    border: 0px solid black;
    white-space: nowrap;
    position:absolute; left:0; top:100%;
}

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #0026ff; 
}

a.snake-link:hover {
  color: #FfFf54; 
}

.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color:  black;
    padding: 8px;
    margin: 0px;
}
.snake-snakebody-block {
    transition: background .5s ease 0s;
    margin: 0px;
    padding: 0px;
    background-color: #ff0000;
    position: absolute;
    border: 0px solid #00aaaa;
    background-repeat: no-repeat;
}

.snake-blue-alive {
   background-image: url('./images/snakeblock_blue.png');
}
.snake-yellow-alive {
   background-image: url('./images/snakeblock.png');
}
.snake-purple-alive {
   background-image: url('./images/snakeblock_purple.png');
}
.snake-green-alive {
   background-image: url('./images/snakeblock_green.png');
}
.snake-red-alive {
   background-image: url('./images/snakeblock_red.png');
}

.snake-snakebody-dead {
   background-image: url('./images/snakeblock_dead.png');
}

.snake-food-block {
    transition: all .1s ease 0s;
    margin: 0px;
    padding: 0px;
    background-color: #808080;
    border: 2px solid #FfFf54;
    position: absolute;
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #000000;
    border: 0px solid #000000;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #808080;
    position: relative;
}
            
.snake-welcome-dialog {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 178px;
    right: 40px;
    width: initial;
    height: 100px;
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}

.snake-try-again-dialog {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    transition: all 1s ease 0s;
    left: 178px;
    right: 40px;
    width: initial;
    height: 100px;
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: none;
}